@media only screen and (max-width: 600px) {
    .images
    {
        display: none;
    }

    .images-mob
    {
        display: block;
    }

    .bk img
    {
        opacity: 0.6;
    }

    .images-mob img
    {
        height: 30vh;
        width: 25%;
        position: relative;
    }
    
    .images-mob .cen_img1
    {
        width: 50%;
        z-index: 1;
        margin-left: -2vw;
    }

    .images-mob .shift
    {
        margin-left: -5vw;
    }

    .wrapper
    {
        top: 70%;
    }

    .nav-mob
    {
        
        margin-left: -40px;
        animation: open-up 2s forwards;
    }

    .container
    {
        scale: 0.57;
    }

    .hov
    {
        width: 100vw;
        display: grid;
        place-content: center;
        position: absolute;
        margin-top: 60vh;
        scale: 2;
    }

    @keyframes open-up
    {
        100%
        {
            margin-left: 30vw;
            transform: rotate(180deg);
        }

    }

    .fa-xmark
    {
        font-size: 30px;
    }
    /* .text-center
    {
        font-size: 50px;
        color: green;
        margin-top: -10px;
    } */

}

/* @media only screen and (min-height: 600px) {
    .footer
    {
        display: flex;
        justify-content: center;
        margin-top: 60vh;
        float: right;
        z-index: 2;
    }

} */